<h1>{{story.title}}</h1>
<h4>{{story.description}}</h4>
<img src="{{story.urlImage}}" alt="{{story.title}}">
<p>
  <span>Author: {{story.author.username}} Views: {{story.views.length}} Likes: {{story.likes.length}}</span>
  {{#if editOrDeleteRestrictionForStories}}
  <a href="/story/edit/{{story._id}}">Edit</a>
  <a href="/story/delete/{{story._id}}">Delete</a>
  {{/if}} {{#if isLiked}}
  <p>You already like this.</p>
  {{else}} {{#if currentUser}}
  <a href="/story/details/like/{{story._id}}">
    <span>
      <strong>Like</strong>
    </span>
  </a>
  {{/if}} {{/if}}

</p>
<br>
<h3>Comment Section:</h3>
{{#each story.comments}}
<p>{{this.commentContent}}</p>
<p>
  <strong>Posted by:
    <a href="/profile/{{this.userId}}">{{this.authorName}}</a>
  </strong>

  {{#if ../editOrDeleteRestrictionForComment}}
  <a href="/story/comment/edit/{{this._id}}">Edit</a>
  <a href="/story/comment/delete/{{this._id}}">Delete</a>
  {{/if}}


</p>
<br> {{/each}} {{#if currentUser}}
<h3>Post new comment:</h3>
<form action="/story/details/{{story._id}}" method="post">
  <textarea name="comment" cols="60" rows="10"></textarea>
  <br>
  <input type="submit" value="Post" />
</form>
{{/if}}