<div>
  <ul>
    {{#if currentUser}}
    <li>
      <a href="/story/create">Your Story</a>
    </li>
    {{/if}}
    <li>
      <a href="/story/all">View all</a>
    </li>
    <li>
      <a href="">View more</a>
    </li>
  </ul>
</div>

<h2>View our categories</h2>

{{#each categories}}
<div name="{{this.category}}">
  <a href="/category?selected={{this.category}}">{{this.category}}</a>
</div>
{{/each}}

<h2>Last created stories:</h2>

<ul>

  {{#each foundedStories}}
  <li>
    <h3>
      <a href="/story/details/{{this._id}}">{{this.title}}</a>
    </h3>
  </li>
  {{else}}
  <p>No stories were created</p>
  {{/each}}
</ul>

<h2>Top 10 stories:</h2>
<ul>
  {{#each topStories}}
  <li>
    <a href="/story/details/{{this._id}}">
      <h3>{{this.title}}</h3>
    </a>
  </li>
  {{/each}}
</ul>